* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  text-align: center;
  padding: 20px;
  background-color: rgb(34, 34, 34);
}

h1 {
  margin-bottom: 20px;
}

li {
  list-style: none;
  text-align: center;
  line-height: 96px;
  font-size: 3rem;
  background-color: rgb(180, 216, 239);
}

.reset:hover,
li:hover {
  background-color: rgb(205, 225, 238);
  cursor: pointer;
}

.selected {
  background-color: rgb(154, 206, 239);
  transition: 500ms;
}
.selected:hover {
  background-color: rgb(154, 206, 239);
  cursor: default;
}

ul {
  display: grid;
  grid-template: repeat(3, 100fr) / repeat(3, 100fr);
  gap: 3px;
  width: 300px;
  height: 300px;
  background-color: rgb(0, 0, 0);
  border: 3px solid black;
  margin: 20px auto;
  box-shadow: 1px 1px 10px rgb(72, 72, 72);
}

.container {
  margin: auto;
}

.playerDisplay {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  justify-content: space-around;
  width: 300px;
  margin: auto;
}

.btn {
  padding: 8px 15px;
  border: 1px rgb(225, 225, 225) solid;
  border-radius: 5px;
  transition: 500ms;
  margin: auto 5px;
}

.column {
  max-width: 200px;
  min-width: 100px;
  flex-shrink: 0;
  overflow: scroll;
}

.column > * {
  color: rgb(191, 191, 191);
  transition: 500ms;
}

.column.selectedPlayer {
  background-color: rgb(154, 206, 239);
  box-shadow: 1px 1px 5px rgb(72, 72, 72);
}

.column.selectedPlayer > * {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(87, 87, 87);
}

.resultDisplay {
  margin: 20px;
}

.reset {
  display: none;
  margin: auto;
  width: 150px;
}
